<div class="row">
  <div class="col-md-4">
    <div><strong>Colaboradores:</strong></div>
    <div class="list-group">
      <button (click)="mostrarFormulario(item)" class="list-group-item list-group-item-action"
        *ngFor="let item of empleados">
        {{item.nombre}}
        <br />
        <b> {{item.cargo}}</b>
        <br />
        {{item.rut}}
        
      </button>
    </div>
  </div>
  <div class="col-md-8">
    <app-form1 *ngIf=" showFormulario ==1 "> </app-form1>
    <app-form2 *ngIf="showFormulario ==2"></app-form2>
  </div>
</div>